<a href="https://colab.research.google.com/github/kvneswar/ml-nit/blob/master/03statistics_income_expense_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

#pd.read_csv('/content/drive/MyDrive/Career/ML/NIT/May/3rd/Descriptive Stats/Inc_Exp_Data.csv')

df_inc_exp = pd.read_csv('/content/sample_data/Inc_Exp_Data.csv')

#information about the dataframe
"""
It gives the information about the number of rows, columns
Each column name, non-null count and the datatype
"""

print(df_inc_exp.info())

# to get the shape of the dataframe i.e. number of rows and the columns

print(df_inc_exp.shape)

# To get the statistical info for the dataframe

print(df_inc_exp.describe())

#To check any of the columns has any null values?

print(df_inc_exp.isna().any())

#Mean of Mthly_HH_Income

print(df_inc_exp.Mthly_HH_Income.mean())

print("Meadian of the Mthly_HH_Income: {}".format(df_inc_exp.Mthly_HH_Income.median()))

#https://colab.research.google.com/drive/16WbMlTKBxJ0tTgLRS2_Oskzg4-3vFoic#scrollTo=DIOafpC3CalF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB
None
(50, 7)
       Mthly_HH_Income  Mthly_HH_Expense  No_of_Fly_Members  Emi_or_Rent_Amt  \
count        50.000000         50.000000          50.000000        50.000000
mean      41558.000000      18818.000000           4.060000      3060.000000
std       26097.908979      12090.216824           1.517382      6241.434948
min        5000.000000       2000.000000           1.000000         0.000000
25%       23550.000000      10000.000000           3.000000         0.000000
50%       35000.000000      15500.000000           4.000000         0.000000
75%       50375.000000      25000.000000           5.000000      3500.000000
max      100000.000000      50000.000000           7.000000     35000.000000

       Annual_HH_Income  No_of_Earning_Members
count      5.000000e+01              50.000000
mean       4.900190e+05               1.460000
std        3.201358e+05               0.734291
min        6.420000e+04               1.000000
25%        2.587500e+05               1.000000
50%        4.474200e+05               1.000000
75%        5.947200e+05               2.000000
max        1.404000e+06               4.000000
Mthly_HH_Income             False
Mthly_HH_Expense            False
No_of_Fly_Members           False
Emi_or_Rent_Amt             False
Annual_HH_Income            False
Highest_Qualified_Member    False
No_of_Earning_Members       False
dtype: bool
41558.0
Meadian of the Mthly_HH_Income: 35000.0