<a href="https://colab.research.google.com/github/kvneswar/ml-nit/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

#{'a': [1, 2], 'b': [3, 4]}
raw_data = pd.DataFrame([[1, 2], [3, 4]])

raw_data.columns = ['a', 'b']

print(raw_data)

   a  b
0  1  2
1  3  4

In [39]:
sample_data = [
    {'Address': '123, Main St', 'Date': '2023-08-08', 'Name': 'Alice', 'Time': '10:00'},
    {'Address': '456, Elm Ave', 'Date': '2023-08-09', 'Name': 'Bob', 'Time': '02:30'},
    {'Address': '789, Oak Rd', 'Date': '2023-08-10', 'Name': 'Charlie', 'Time': '09:15'},
    {'Address': '321, Pine Ln', 'Date': '2023-08-11', 'Name': 'David', 'Time': '04:45'},
    {'Address': '555, Cedar Dr', 'Date': '2023-08-12', 'Name': 'Eva', 'Time': '12:00'}
]

raw_df = pd.DataFrame(sample_data)

clean_df_columns = ['street number', 'street name', 'day', 'month', 'year', 'name', 'hour', 'min']

clean_df = pd.DataFrame(columns=clean_df_columns)

for index, row in raw_df.iterrows():
  address_list = row['Address'].split(', ')
  date_list = row['Date'].split('-')
  name = row['Name']
  time_list = row['Time'].split(':')

  new_row = {}

  new_row['street number'] = address_list[0]
  new_row['street name'] = address_list[1]
  new_row['day'] = date_list[0]
  new_row['month'] = date_list[1]
  new_row['year'] = date_list[2]
  new_row['name'] = name
  new_row['hour'] = time_list[0]
  new_row['min'] = time_list[1]

  clean_df = clean_df.append(new_row, ignore_index=True)

print(clean_df)

  street number street name   day month year     name hour min
0           123     Main St  2023    08   08    Alice   10  00
1           456     Elm Ave  2023    08   09      Bob   02  30
2           789      Oak Rd  2023    08   10  Charlie   09  15
3           321     Pine Ln  2023    08   11    David   04  45
4           555    Cedar Dr  2023    08   12      Eva   12  00