<a href="https://colab.research.google.com/github/kvneswar/ml-nit/blob/master/04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [ ]:
"""
  Pandas:
    - similar to a SPREADSHEET or a DB TABLE
  Types of DataStructures supported by Pandas
    1. Series
      - One Dimensional Array
      - similar to a column in a spreadsheet or single column in a database table
    2. DataFrame
      - Two Dimensional Array
"""

In [7]:
series_list = pd.Series(['a', 'b', 'c'], index=[7, 8, 9])

print('series from a list:')
print(series_list)

series_map = pd.Series({7: 'a', 8: 'b', 9: 'c'})
print('series from a map:')
print(series_map)

# Note: we can't define the column name for a Series datastructure

df_list = pd.DataFrame([['a', 'b', 'c'], ['d', 'e', 'f']], index=[7, 8], columns=['letter1', 'letter2', 'letter3'])

print('dataframe from a list')
print(df_list)

df_map = pd.DataFrame({'letter1': ['a', 'd'], 'letter2': ['b', 'd'], 'letter3': ['c', 'f']}, index=[7, 8])

print('dataframe from a map')
print(df_map)

print('filter the DataFrame')

df_filter = df_list['letter3'] > 'b'

print(df_filter)
print(df_list[df_filter])

print(df_list.sort_values(ascending=False, by=['letter1', 'letter3']))

series from a list:
7    a
8    b
9    c
dtype: object
series from a map:
7    a
8    b
9    c
dtype: object
dataframe from a list
  letter1 letter2 letter3
7       a       b       c
8       d       e       f
dataframe from a map
  letter1 letter2 letter3
7       a       b       c
8       d       d       f
filter the DataFrame
7    True
8    True
Name: letter3, dtype: bool
  letter1 letter2 letter3
7       a       b       c
8       d       e       f
  letter1 letter2 letter3
8       d       e       f
7       a       b       c